.menu {
  display: flex;
  align-items: center;
  font-size: 2rem;

  height: 60px;

  &__wrapper {
    display: flex;
  }

  ul {
    display: flex;
    cursor: pointer;
  }

  a {
    color: #000;
    text-decoration: none;
    padding-right: 3rem;
  }

  a:hover {
    color: #00b0aa;
    display: block;
    margin-bottom: -8px;

    &::after {
      content: "";
      display: block;
      height: 3px;
      width: 100%;
      background: #00b0aa;
      flex-grow: 1;

      margin-top: 5px;
    }
  }
}

.login__class {
  position: absolute;
  right: 30px;
}
